h1{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

pre{
    background-color: rgb(242, 242, 242);
    box-shadow: 10px 20px 20px  rgb(77, 77, 77);
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    transition: 1s ease-in-out;
}

pre:hover{
    scale: 1.01;
    box-shadow: 40px 30px 30px  rgb(77, 77, 77);

}

code{
    font-size: 15px;
    font-weight: bolder;
}
